<div class="card">
    <div class="card-body">
        <div class="text-center  mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <P class="m-auto subs-text">lporem ipsum dolor</P>
            <div class="form_dis">
            <form class="" class="form-inline mb-5 mt-5 ">

                <div class="form-group col-md-2 form_dis">
                    <input   type="text" class="form-control shadow-effect" placeholder="Your Name">

                </div>
                <div class="form-group col-md-2 form_dis">
                    <input  type="email" class="form-control shadow-effect"  placeholder="Email Address">
                </div>

                <div class="col-md-2 form_dis">
                    <button class="btn btn-info btn-block btn-theme " (click)="displayMessage()">SUBSCRIBE</button>
                </div>

            </form>
        </div>
        </div>
    </div>
</div>