<div class="card">
    <img src="{{postList.image}}" alt="blog image">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-danger text-center ml-3"> Feartured </small>
        <small class="bg-light text-danger text-center ml-3"> views - 100,256 </small>

        <h5 class="mt-1">{{postList.heading}}</h5>
        <!-- <P>{{postList.description}}
        </P> -->
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - {{postList.date}}</small>
    </div>
</div>